/* Define a background color for the body */
body {
    background-color: violet;
    margin: 0;
    font-family: Arial, sans-serif;
}

div{
    margin-top: 10px;
}

.coluna{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.centralizado{
    display: flex;
    justify-content: center;
    align-items: center;
}