* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #260D34;
}

html {
    scroll-behavior: smooth;
}

.coluna{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.centralizado{
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu_bar{
    display: flex;
    justify-content: space-around;

    background-color: rgba(46, 45, 47, 0.7);
    backdrop-filter: blur(35px);
    padding: 15px 450px;
    text-align: left;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

#menu_bar a {
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

#menu_bar a:hover {
    background: linear-gradient(to right, orange, pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent; /* Garantia para navegadores modernos */
}

#robofei{
    height: 500px;
}